<div class="container">
  <h2 class="titleText fw-700">News<span class="pinkify fw-900">.</span></h2>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illo
      illum commodi! Saepe, esse fuga?
    </li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis iure
      laudantium ea dolor numquam accusamus accusantium dolorum explicabo
      voluptatum illo similique quod, deserunt commodi neque?
    </li>
  </ul>
</div>
